html, body {
  font-family: Verdana;
  margin: 0px;
}

::-webkit-scrollbar {
  display: none;
}

.nav {
  background-color: #BABF10;
  font-family: Verdana;
  overflow: hidden;
  position: relative;
  border-radius: 10px 0px 0px 10px;
}

#menu {
  float: right;
}

.nav a {
  float: right;
  padding: 16px 14px;
  text-decoration: none;
  color: black;
}

.nav a:hover {
  background-color: #006241;
  border-radius: 10px;
}

#navimg {
  position: static ;
}

footer {
  margin-top: 25%;
  position: relative;
  text-align: center;
  background-color: #BABF10;
  max-height: fit-content;
  /* margin-bottom: 10px; */
  padding-bottom: 10px;
}

#fhr{
  border-radius: 10px;
  border-color: black;
  color: black;
}
